<div class="public-container container">
	<%= render partial: 'steps', locals: {step: 0} %>
	<h1 class="text-center">Introduction</h1>
	<p>Through this survey we are asking how do you define Data Science? Many articles tout its significance, and one can read about them <%= link_to 'here', "https://hbr.org/2012/10/data-scientist-the-sexiest-job-of-the-21st-century/" %>,<%= link_to 'here', "http://en.wikipedia.org/wiki/Data_science" %> and <%= link_to 'here', "http://harvardmagazine.com/2014/03/why-big-data-is-a-big-deal" %>. It is a field that is emerging by merging multiple otherwise independent fields. It has driven many academic institutions to start academic programs <%= link_to "Berkeley Data science program", "http://datascience.berkeley.edu/academics/curriculum/" %>, Institutes and centers (For example: <%= link_to "@Columbia","http://datascience.columbia.edu/" %>, <%= link_to "@NYU", "http://datascience.nyu.edu/" %>). United states has created a position and appointed a Chief data scientist.</p>

	<p>Yet there is criticism as to what defines/constitutes Data Science? In general, there seems to be a consensus that Data Science is use of several methods and technologies to generate knowledge/insights/ from data (see the wikipedia description <%= link_to 'here', "http://en.wikipedia.org/wiki/Data_science" %> . These insights help us understand a complex system and could aid in decision making. However, these seems to be a question of what exactly is new and challenging? For example, on Wikipedia there is criticism about Data Science and we quote:</p>

	<p style="text-align: center; font-style: italic">
		"Although use of the term "data science" has exploded in business environments, many academics and journalists see no distinction between data science and statistics. Writing in Forbes, Gil Press argues that data science is a buzzword without a clear definition and has simply replaced "business analytics" in contexts such as graduate degree programs. In the question-and-answer section of his keynote address at the Joint Statistical Meetings of American Statistical Association, noted applied statistician Nate Silver said, "I think data-scientist is a sexed up term for a statistician....Statistics is a branch of science. Data scientist is slightly redundant in some way and people shouldn’t berate the term statistician."
	</p>

	<p>
		But within the criticisms and its exponential growth, there are some questions that could deliver answers to some very pragmatic needs which are: What skills are necessary in a data scientist? What would a Data Science curriculum look like? Should we, in an ad hoc fashion, piece together multiple well defined technologies/fields like Machine learning, Big Data, and Statistics, Visualization to define a data science curriculum, or is there a different way to look at it?
	</p>

	<h3>Who are we?</h3>
	<p>We are a data science group called Any Scale Learning For All <%= link_to 'ALFA', "http://groups.csail.mit.edu/EVO-DesignOpt/groupWebSite/" %> at <%= link_to 'CSAIL', "http://www.csail.mit.edu/" %>, <%= link_to 'MIT', "http://web.mit.edu/" %>. This survey is also co-sponsored by <%= link_to "BigData@CSAIL", "http://bigdata.csail.mit.edu/" %>.
	</p>

	<div class="text-center pull-right next-btn">
		<%= link_to 'Next >', new_survey_path, class: 'btn btn-primary btn-lg' %>
	</div>
</div>